.dashboardlayout {
  background-color: #F6F6F6;
}

.dashwidget {
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 25px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.dashwidget h3 {
  margin: 0px;
  padding: 6px 0px 6px 0px;
  color: #0AA8E3;
  font-weight: 500;
  font-size: 22px;
}
.dashwidget h2 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #0AA8E3;
}

.prfimg {
  margin-right: 10px;
}
.prfimg img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.prfcontent p {
  font-size: 12px;
  color: #3D3D3D;
  font-weight: 500;
}
.prfcontent h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: 16px;
  color: #0AA8E3;
}

ul.dashboard-menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.dashboard-menu li {
  padding: 10px 10px;
  display: block;
}
ul.dashboard-menu li a {
  color: #3D3D3D;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}
ul.dashboard-menu li a object {
  position: relative;
  top: 2px;
  right: 8px;
}
ul.dashboard-menu li a:hover {
  color: #0AA8E3;
}
ul.dashboard-menu li a:hover object {
  filter: brightness(0) saturate(100%) invert(53%) sepia(21%) saturate(4861%) hue-rotate(162deg) brightness(96%) contrast(92%);
}
ul.dashboard-menu li.active a {
  font-weight: 700;
  color: #0AA8E3;
}
ul.dashboard-menu li.active a object {
  filter: brightness(0) saturate(100%) invert(53%) sepia(21%) saturate(4861%) hue-rotate(162deg) brightness(96%) contrast(92%);
}

.dashboard-forms .form-group {
  margin-bottom: 20px;
}
.dashboard-forms label {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  padding-bottom: 5px;
}
.dashboard-forms .form-control {
  background-color: #f5f5f5;
  border: 1px solid #DFDFDF;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  color: #6D6D6D;
}
.dashboard-forms .form-control:focus {
  box-shadow: inherit;
}
.dashboard-forms .btn-cancel {
  background-color: #232323;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 0px 45px;
  height: 50px;
}
.dashboard-forms .btn-cancel:hover {
  background-color: #0AA8E3;
}
.dashboard-forms .btn-submit {
  background-color: #0AA8E3;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 0px 45px;
  height: 50px;
}
.dashboard-forms .btn-submit:hover {
  background-color: #232323;
}
.dashboard-forms span a {
  float: right;
  color: #0AA8E3;
  font-weight: 500;
  font-size: 14px;
  padding-left: 30px;
}
.dashboard-forms span a:hover {
  color: #000;
}
.dashboard-forms span a.cancel {
  color: #FA3E5A;
}

.toggle-password {
  position: absolute;
  right: 15px;
  font-size: 16px;
  top: 45px;
  color: #000;
}

.sort select {
  background-color: #f5f5f5;
  border: 1px solid #DFDFDF;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  color: #6D6D6D;
  padding: 0px 10px;
  border-radius: 6px;
}
.sort select:focus {
  box-shadow: inherit;
}

.ordersbox {
  border-bottom: 4px solid #f6f6f6;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.ordersbox:first-child {
  padding-top: 0px;
}
.ordersbox:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.ordersbox .orderid {
  align-self: center;
}
.ordersbox .orderid h3 {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  font-weight: 500;
  color: #3D3D3D;
}
.ordersbox .orderid p {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #3D3D3D;
}
.ordersbox .orderid small {
  font-weight: 500;
  font-size: 11px;
}
.ordersbox .orderid small.codtxt {
  color: #FA3E5A;
}
.ordersbox .orderid small.prepaidtxt {
  color: #1E9D32;
}
.ordersbox .orderprice {
  align-self: center;
}
.ordersbox .orderprice h3 {
  margin: 0px;
  padding: 0px;
  font-size: 21px;
  font-weight: 600;
  color: #3D3D3D;
}
.ordersbox .orderprice p {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 14px;
  color: #3D3D3D;
}
.ordersbox .shipping {
  align-self: center;
}
.ordersbox .shipping h4 {
  margin: 0px;
  padding: 0px 0px 5px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #3D3D3D;
  position: relative;
}
.ordersbox .shipping h4:before {
  content: "\f111";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 0px;
  left: 0px;
}
.ordersbox .shipping p {
  margin: 0px;
  padding: 0px 0px 0px 25px;
  font-size: 14px;
  font-weight: 300;
  color: #3D3D3D;
}
.ordersbox .shipping h4.status_ship:before {
  color: #F8B200;
}
.ordersbox .shipping h4.canclled:before {
  color: #FA3E5A;
}
.ordersbox .shipping h4.delivered:before {
  color: #1E9D32;
}
.ordersbox a.btn-view {
  background-color: #0AA8E3;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 2px;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.ordersbox a.btn-view:hover {
  background-color: #3D3D3D;
}

.orddetailsbox {
  border-bottom: 4px solid #f6f6f6;
  padding-bottom: 10px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.orddetailsbox:last-child {
  border-bottom: none;
}
.orddetailsbox h4 {
  margin: 0px;
  padding: 0px 0px 3px 0px;
  font-weight: 600;
  font-size: 20px;
}
.orddetailsbox p {
  margin: 0px;
  padding: 0px;
  color: #3D3D3D;
}
.orddetailsbox p small {
  font-weight: 500;
  font-size: 11px;
  color: #FA3E5A;
  padding-left: 10px;
}
.orddetailsbox a.btn-view {
  padding: 8px 0px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  margin-left: 10px;
}
.orddetailsbox .itemdetailsrow {
  padding-left: 0px;
  justify-content: space-between;
}
.orddetailsbox .itemdetailsrow .itemproduct {
  flex: 0 0 60% !important;
}
.orddetailsbox .itemdetailsrow .itemproduct .itemtitle {
  font-size: 16px;
}
.orddetailsbox .itemdetailsrow .itemproduct .itemtitle a {
  color: #3D3D3D;
}
.orddetailsbox .itemdetailsrow .itemproduct .itemtitle a:hover {
  color: #0AA8E3;
}
.orddetailsbox .itemdetailsrow .itemprice {
  font-size: 21px;
  text-align: right;
}

.producttotals {
  padding: 5px 0px;
}
.producttotals h4 {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  font-weight: 600;
  color: #3D3D3D;
  text-align: left;
}
.producttotals h5 {
  color: #0AA8E3;
  text-align: right;
  padding-right: 45px;
  font-size: 25px;
}

.dashdelvbox {
  padding: 30px 50px;
}
.dashdelvbox h4 {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  font-size: 25px;
  font-weight: 600;
  color: #3D3D3D;
  text-align: left;
}
.dashdelvbox h5 {
  margin: 0px;
  padding: 15px 0px 15px 0px;
  font-size: 20px;
  font-weight: 600;
  color: #3D3D3D;
  text-align: left;
}
.dashdelvbox p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #3D3D3D;
}
.dashdelvbox .hometxt {
  background-color: #E9F7FD;
  color: #000;
  padding: 5px 15px;
  text-align: center;
  display: inline;
  font-weight: 600;
}

.trackorderbox h3 {
  margin: 0px;
  padding: 30px 0px 15px 0px;
  text-align: center;
  font-weight: 500;
  font-size: 23px;
  color: #0AA8E3;
}

.trackseach {
  display: flex;
  margin-bottom: 20px;
}
.trackseach .form-control {
  background-color: #fff;
  border-radius: 5px;
  color: #3D3D3D;
  height: 48px;
  border-radius: 5px;
  border: 0px;
  font-size: 14px;
}
.trackseach .form-control:focus {
  box-shadow: inherit;
}
.trackseach button {
  background-color: #0AA8E3;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.trackseach button:hover {
  background-color: #3D3D3D;
}

.tracksteps {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 20px;
  position: relative;
}
.tracksteps:before {
  content: "";
  width: 95%;
  height: 3px;
  background-color: #0AA8E3;
  position: absolute;
  top: 40%;
  left: 10px;
}
.tracksteps .stepbox {
  z-index: 1;
}
.tracksteps .stepbox .icon {
  width: 127px;
  height: 127px;
  border-radius: 100%;
  text-align: center;
  align-content: center;
  background-color: #0AA8E3;
  margin: 0px auto;
  margin-bottom: 10px;
}
.tracksteps .icon-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.trackshipping [class*=d-flex] {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.trackshipping [class*=d-flex]:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
}
.trackshipping h4 {
  margin: 0px 0px 20px 0px;
  padding: 0px 20px 10px 20px;
  color: #0AA8E3;
  font-weight: 500;
  font-size: 23px;
  border-bottom: 1px solid #ddd;
}
.trackshipping p {
  margin: 0px;
  padding: 0px 0px 3px 30px;
  text-transform: capitalize;
}
.trackshipping h5 {
  margin: 0px;
  padding: 0px 0px 0px 30px;
  font-weight: 600;
  font-size: 16px;
}

.wishlistbox .orddetailsbox {
  padding-bottom: 25px;
  position: relative;
}
.wishlistbox .orddetailsbox.disable:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0px;
  left: 0px;
}
.wishlistbox .orddetailsbox .itemdetailsrow .itemproduct {
  flex: 0 0 100% !important;
}
.wishlistbox .orddetailsbox .itemdetailsrow .itemprice {
  text-align: left;
}
.wishlistbox .orddetailsbox .itemdetailsrow .itemprice span.notifytxt {
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  padding-left: 30px;
}
.wishlistbox .orddetailsbox .itemdetailsrow .itemprice span.notifytxt a {
  color: #3D3D3D;
}
.wishlistbox .orddetailsbox .itemdetailsrow .itemprice span.notifytxt a:hover {
  color: #0AA8E3;
}
.wishlistbox .orddetailsbox .delwishicon {
  min-width: 38px;
  height: 38px;
  background-color: #E9F7FD;
  color: #0AA8E3;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  margin-left: 10px;
  z-index: 1;
}
.wishlistbox .orddetailsbox .delwishicon:hover {
  background-color: #3D3D3D;
  color: #fff;
}

.dashnewaddr {
  font-weight: 600;
  font-size: 14px;
  color: #3D3D3D;
  text-align: right;
  text-transform: uppercase;
}
.dashnewaddr:hover {
  color: #0AA8E3;
}

.addressicons {
  float: right;
  padding-right: 40px;
}

.addedit, .deladd {
  min-width: 38px;
  height: 38px;
  background-color: #E9F7FD;
  color: #0AA8E3;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  margin-left: 10px;
  margin-left: 10px;
}
.addedit:hover, .deladd:hover {
  background-color: #3D3D3D;
  color: #fff;
}

.editaddrebox .checkoutaddform {
  padding: 0px 30px !important;
}

.dshreviewrating {
  padding: 5px 0px;
}
.dshreviewrating i {
  font-size: 20px;
  color: #F8B200;
}
.dshreviewrating i.grey {
  color: #DFDFDF;
}

a.dashwrtreview {
  color: #0AA8E3;
  font-weight: 600;
  font-size: 14px;
  color: #0AA8E3 !important;
}
a.dashwrtreview:hover {
  color: #3D3D3D !important;
}

.dshstar {
  padding: 5px 0px;
}
.dshstar .stars i {
  font-size: 16px !important;
}

.dhseditreviewbox {
  background-color: #F6F6F6;
  border-radius: 6px;
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
}
.dhseditreviewbox a.revewedit {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #0AA8E3 !important;
}
.dhseditreviewbox a.revewedit:hover {
  color: #3D3D3D !important;
}

.rewardbox {
  height: 140px;
  border-radius: 6px;
  color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.rewardbox p {
  margin: 0px;
  padding: 0px 0px 3px 0px;
  flex: 0 0 100%;
  font-size: 16px;
  font-weight: 400;
}
.rewardbox h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  color: #fff;
}
.rewardbox .progress {
  flex: 0 0 100%;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 27px;
  border-radius: 2px;
}
.rewardbox .progress .progress-bar {
  background-color: #fff;
}
.rewardbox .valuecounter {
  display: flex;
  flex: 0 0 72%;
  justify-content: space-between;
}
.rewardbox .valuecounter p {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.dashwidget .row [class^=col]:nth-child(1) .rewardbox {
  background-color: #F8B200;
}
.dashwidget .row [class^=col]:nth-child(2) .rewardbox {
  background-color: #1E9D32;
}
.dashwidget .row [class^=col]:nth-child(3) .rewardbox {
  background-color: #FA3E5A;
}

.couponrewardbox {
  width: 100%;
  border: 2px solid #DFDFDF;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 30px 0px;
  position: relative;
}
.couponrewardbox:before {
  content: "";
  position: absolute;
  top: 29px;
  left: -70px;
  width: 70px;
  height: 107px;
  background: #fff;
  -webkit-clip-path: polygon(0 35%, 100% 22%, 100% 0);
          clip-path: polygon(0 35%, 100% 22%, 100% 0);
  z-index: 1;
}
.couponrewardbox:after {
  content: "";
  position: absolute;
  top: 27px;
  left: -76px;
  width: 75px;
  height: 124px;
  background: #D9D9D9;
  -webkit-clip-path: polygon(0 34%, 100% 22%, 100% 0);
          clip-path: polygon(0 34%, 100% 22%, 100% 0);
}
.couponrewardbox p {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  font-size: 18px;
  color: #000;
  line-height: 22px;
}
.couponrewardbox h3 {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 78px;
  font-weight: 600;
  color: #000;
  text-align: left;
}
.couponrewardbox h4 {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  text-align: left;
}
.couponrewardbox input[type=text] {
  border: 1px dashed #626262;
  color: #626262;
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}
.couponrewardbox.disable {
  position: relative;
  background-color: rgba(223, 223, 223, 0.3);
  cursor: default;
  pointer-events: none;
}
.couponrewardbox.disable p, .couponrewardbox.disable h3, .couponrewardbox.disable h4, .couponrewardbox.disable input {
  opacity: 0.2;
}
.couponrewardbox.disable input[type=text] {
  cursor: default;
}
.couponrewardbox.disable:before {
  background: rgb(245, 245, 245);
}
.couponrewardbox.disable .claimcouppon {
  display: flex;
  z-index: 9;
  position: absolute;
  right: 0px;
  bottom: -20px;
}
.couponrewardbox.disable .claimcouppon i {
  color: #1E9D32;
  font-size: 45px;
}
.couponrewardbox.disable .claimcouppon p {
  font-size: 15px;
  font-weight: 600;
  color: #1E9D32;
  opacity: 1;
  text-transform: uppercase;
  padding-left: 5px;
}

.dshcouponborder [class*=col] {
  position: relative;
}

.lineprogress {
  width: 2px;
  height: 100%;
  background-color: #F3F3F3;
  position: absolute;
  top: 0;
  left: -100px;
}
.lineprogress:before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #D9D9D9;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: -4px;
}
.lineprogress:first-child {
  top: 30px;
}
.lineprogress.complete {
  background-color: #0AA8E3;
}
.lineprogress.complete:before {
  background-color: #0AA8E3;
}/*# sourceMappingURL=dashboard.css.map */