@media only screen and (min-width: 2400px) {
  .new-arrivals .slick-prev {
    left: -18%;
  }
  .new-arrivals .slick-next {
    left: -13%;
  }
  .header-menu .header-horizontal-menu li {
    margin-left: 50px;
  }
  .header-menu .header-horizontal-menu li a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1999px) {
  .new-arrivals .slick-prev {
    left: -18%;
  }
  .new-arrivals .slick-next {
    left: -13%;
  }
}
@media only screen and (max-width: 1920px) {
  .header-menu .header-horizontal-menu li {
    margin-left: 10px;
  }
  .header-menu .header-horizontal-menu li a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1440px) {
  /* .new-arrivals .slick-prev {
    left: -180px;
  }

  .new-arrivals .slick-next {
    left: -135px;
  } */
  .header-menu .header-horizontal-menu li {
    margin-left: 10px;
  }
  .login-content {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 1400px) {
  .header-menu .header-horizontal-menu li {
    margin-left: 0px;
    padding: 12px 10px;
  }
  .header-menu .header-horizontal-menu li.menu-dropdown a {
    font-size: 12px;
    white-space: nowrap;
  }
  .header-menu .free-ship {
    font-size: 14px;
  }
  .header-static-nav p {
    font-size: 11px;
    line-height: 18px;
  }
  .header-menu-nav p {
    font-size: 12px;
  }
  .social-info li a {
    margin: 0px 5px;
  }
  .header-menu .header-menu-vertical .menu-title {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1366px) {
  .login-bg img {
    height: 150vh;
  }
  .single-static span {
    font-size: 9px;
  }
  .static-area .single-static .single-static-meta h4 {
    font-size: 12px;
    line-height: 18px;
  }
  .shipping.ps-5 {
    padding-left: 0rem !important;
  }
  .orddetailsbox a.btn-view {
    white-space: wrap;
    padding: 5px 20px;
  }
  .orddetailsbox .itemdetailsrow .itemprice {
    font-size: 16px;
    padding-right: 0px;
  }
  .producttotals h5 {
    padding-right: 20px;
  }
  .ads-slider .slick-prev {
    left: 40%;
  }
  .ads-slider .slick-next {
    right: 40%;
  }
  .ads-slider.slick-dotted.slick-slider {
    padding-bottom: 20px;
  }
  .slider-values input {
    width: 90%;
    font-size: 11px;
  }
  .item-productrow .itemprice, .item-productrow .itemqty, .item-productrow .itemsubtotal, .item-productrow .itemsavings, .item-productrow .itemremove {
    font-size: 11px;
  }
  .item-productrow .itemproduct {
    font-size: 11px;
  }
  .itemdetailsrow .itemproduct .itemtitle {
    font-size: 11px;
  }
  .itemdetailsrow .itemprice, .itemdetailsrow .itemqty, .itemdetailsrow .itemsubtotal, .itemdetailsrow .itemsavings, .itemdetailsrow .itemremove {
    font-size: 12px;
  }
  .itemdetailsrow input[type=number] {
    width: 90%;
    font-size: 12px;
  }
  .cartotals tr td {
    font-size: 12px;
  }
  .summaryorder .totalspro .totlabel {
    font-size: 11px;
  }
  .summaryorder .totalspro .totvalue {
    font-size: 11px;
  }
  .ordersbox a.btn-view {
    font-size: 11px;
    padding: 8px 0px;
  }
  .ordersbox .orderprice h3 {
    font-size: 14px;
  }
  .ordersbox .orderid h3 {
    font-size: 13px;
  }
  .ordersbox .orderid p {
    font-size: 13px;
  }
  .ordersbox .shipping h4 {
    font-size: 13px;
  }
  .ordersbox .shipping p {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1300px) {
  .menu-content li:last-child {
    padding-left: 0px;
    padding-right: 0px;
  }
  .menu-content li:last-child a {
    font-size: 12px;
    white-space: nowrap;
  }
  .static-area .single-static {
    border-right: 0px;
  }
  .shop-sidebar-wrap .card .card-header a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1260px) {
  .header-menu .header-horizontal-menu li {
    padding-left: 13px;
  }
  .header-menu .header-horizontal-menu li.menu-dropdown {
    padding: 0px 10px;
  }
  .header-menu .header-horizontal-menu li.menu-dropdown a {
    font-size: 11px;
  }
  .header-menu .header-horizontal-menu li:last-child {
    padding-left: 0px;
  }
  .add-cart-btn, .buy-now-btn {
    padding: 6px 8px;
    font-size: 11px;
    line-height: 20px;
  }
  .login-content {
    padding: 20px 50px;
  }
  .catergory-sec img {
    height: 200px;
    padding: 15px;
  }
  .header-menu .header-menu-vertical .menu-title {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1199px) {
  .header-menu-vertical {
    width: 200px;
    white-space: nowrap;
  }
  .header-horizontal-menu {
    display: none;
  }
  .main-slider .slick-prev {
    left: 40%;
  }
  .main-slider .slick-next {
    right: 40%;
  }
  .header-shape::before {
    right: 30px;
  }
  .feature-slider-two .feature-slider-item {
    padding: 10px;
  }
  .footer-top .container, .footer-bottom .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .social-info li a {
    width: 40px;
    height: 40px;
    line-height: 45px;
  }
  .social-info li a i {
    font-size: 20px;
  }
  .clinet-testi {
    flex-wrap: wrap;
  }
  .clinet-testi .client-details {
    margin-left: 0px;
    padding-top: 10px;
  }
  .popular-categories-area .category-slider .category-slider-bg {
    height: 120px;
  }
  .popular-categories-area .category-slider .thumb-category img {
    padding: 10px;
  }
  .seller-slider .seller-slider-image img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left center;
       object-position: left center;
    border-radius: 10px;
  }
  .mobilemenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 100%;
    text-align: right;
  }
  .mobilemenu a {
    color: #fff;
  }
  .header-menu {
    position: relative;
  }
  .login-content .nav-tabs .nav-link {
    width: 180px;
    font-size: 16px;
  }
  .shop-category-area .col-lg-3.filtersidebar {
    flex: 0 0 auto;
    width: 100%;
  }
  .shop-category-area .col-lg-9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .filtersidebar {
    width: 100%;
  }
  .shop-sidebar-wrap {
    overflow-y: scroll;
    height: 450px;
    padding-bottom: 30px;
  }
  .catgfilters {
    display: block;
  }
  .shipping-sec .info-box-icon .info-box-content h5 {
    font-size: 10px;
  }
  .product-view {
    padding-left: 10px;
  }
  .product-view .product-view-buy-now .buy-now {
    width: 45%;
  }
  .prdwrapprices {
    flex-wrap: wrap;
  }
  .prdwrapprices .arrival-price {
    flex: 0 0 100%;
    padding-bottom: 10px;
  }
  .prdwrapprices .search-result-mrp {
    margin-left: 0px;
    margin-right: 30px;
  }
  .itemdetailsrow .itemprice, .itemdetailsrow .itemqty, .itemdetailsrow .itemsubtotal, .itemdetailsrow .itemsavings {
    font-size: 14px;
    padding-right: 10px;
    white-space: nowrap;
  }
  .crttotals .card-body {
    padding: 5px;
  }
  .cartotals tr td {
    font-size: 12px;
  }
  .couponbox .btn-primary {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }
  .couponbox .form-control {
    font-size: 12px;
  }
  .contaddressbox {
    display: block;
    padding: 15px;
    min-height: 280px;
    margin-bottom: 20px;
  }
  .contaddressbox .contaddress {
    width: 100%;
    padding-top: 20px;
  }
  .item-productrow .itemproduct {
    font-size: 12px;
  }
  .item-productrow .itemprice, .item-productrow .itemqty, .item-productrow .itemsubtotal, .item-productrow .itemsavings, .item-productrow .itemremove {
    font-size: 12px;
  }
  ul.dashboard-menu li a {
    font-size: 12px;
  }
  .ordersbox a.btn-view {
    font-size: 11px;
    padding: 8px 0px;
  }
  .ordersbox .shipping h4 {
    font-size: 14px;
  }
  .ordersbox .orderprice h3 {
    font-size: 16px;
  }
  .ordersbox .orderid h3 {
    font-size: 16px;
  }
  .ordersbox .orderid p {
    font-size: 14px;
  }
  .tracksteps .stepbox .icon {
    width: 100px;
    height: 100px;
  }
  .tracksteps .stepbox .icon object {
    width: 50px;
  }
  .tracksteps .stepbox:nth-child(2) object {
    width: 35px;
  }
  .tracksteps .stepbox:nth-child(4) object {
    width: 35px;
  }
  .rewardbox {
    padding: 10px;
  }
  .rewardbox p {
    font-size: 12px;
  }
  .rewardbox .valuecounter p {
    font-size: 12px;
  }
  .couponrewardbox p {
    font-size: 15px;
  }
  .couponrewardbox h3 {
    font-size: 60px;
  }
  .couponrewardbox h4 {
    font-size: 20px;
  }
  .couponrewardbox input[type=text] {
    width: 180px;
    font-size: 16px;
  }
  .couponrewardbox.disable .claimcouppon p {
    line-height: 12px;
    font-size: 11px;
  }
  .couponrewardbox.disable .claimcouppon i {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1090px) {
  .header-static-nav {
    display: inherit;
    flex-wrap: wrap;
  }
  .seller-slider .seller-slider-image .smart-wearables-cont3 h3 {
    font-size: 20px;
  }
  .seller-slider .seller-slider-image .smart-wearables-cont2 h3 {
    font-size: 20px;
  }
  .header-menu .header-menu-vertical .menu-content li .sub-menu li {
    width: 28%;
  }
  .shipping-sec .info-box-icon .info-box-content {
    margin-left: 5px;
  }
  .shipping-sec {
    padding: 10px 10px;
    margin-right: 0px;
  }
  .itemdetailsrow input[type=number] {
    width: 70px;
  }
  .seller-slider .seller-slider-image .smart-wearables-cont h3, .seller-slider .seller-slider-image .smart-wearables-cont1 h3 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .logodisp {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .col-lg-6.bgupdlogin {
    display: none;
  }
  .col-lg-6.bglogform {
    flex: 0 0 auto;
    width: 100% !important;
  }
  .login-page {
    padding: 15% 0;
  }
}
@media only screen and (max-width: 992px) {
  .header-nav-wrapper {
    flex-wrap: wrap;
    text-align: center;
  }
  .header-static-nav, .header-menu-nav {
    flex: 0 0 100%;
    justify-content: center;
  }
  .static-area .col-lg-3 {
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .offers-slider .slick-prev {
    left: 30%;
  }
  .offers-slider .slick-next {
    right: 30%;
  }
  .footer-support {
    padding-top: 0px;
  }
  .home-newsletter .single {
    flex-wrap: wrap;
  }
  .home-newsletter .single-image {
    width: 100%;
    padding-bottom: 20px;
  }
  .new-arrivals .slick-prev {
    left: inherit;
    top: -60px;
    right: 90px;
  }
  .new-arrivals .slick-next {
    left: inherit;
    right: 30px;
    top: -60px;
  }
  .search-element .search-category select {
    padding-left: 10px;
  }
  .search-element .search-category select, .search-element input {
    font-size: 12px;
  }
  .logo {
    margin: 0px auto;
    text-align: center;
    padding-bottom: 10px;
  }
  .slider-banner img {
    border-radius: 10px;
    height: 280px;
  }
  .feature-area.mt-60px {
    margin-top: 20px;
  }
  .arrival-section {
    margin-bottom: 20px;
    justify-content: start;
    padding-left: 20px;
  }
  .new-arrivals {
    margin-top: 20px;
  }
  .trendbox .arrival-section {
    height: 70px;
    margin-top: 20px;
  }
  .trendbox .new-arrivals .slick-prev {
    left: inherit;
    top: -74px;
    right: 90px;
  }
  .trendbox .new-arrivals .slick-next {
    left: inherit;
    right: 30px;
    top: -74px;
  }
  .menu-content {
    display: none !important;
  }
  .login-content {
    padding: 20px 20px;
  }
  .catergory-right-sec .col-lg-3 {
    width: 33.33%;
  }
  .prostickyoverall {
    position: sticky !important;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .shipping-sec {
    margin-bottom: 20px;
  }
  .product-view .delivery-sec {
    display: block;
    max-width: 500px;
    width: 100%;
  }
  .shipping-sec .info-box-icon {
    margin-bottom: 20px;
  }
  .shop-category-area .catergory-right-sec [class*=col]:nth-child(3n+3) {
    border-right: 0px;
  }
  .ordersbox {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ordersbox .shipping p {
    padding-bottom: 10px;
  }
  .orddetailsbox {
    padding-top: 12px;
  }
  .ordersbox a.btn-view {
    padding: 5px 15px;
  }
  .ordersbox a.btn-view {
    width: inherit;
  }
  .crttotals .card-body {
    padding: 20px;
  }
  .img-block img {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 769px) {
  .login-page .col-md-5 {
    width: 100% !important;
  }
  .login-page .col-md-7 {
    width: 100% !important;
  }
  .login-bg img {
    height: 360px;
    -o-object-position: top center;
       object-position: top center;
  }
  .shop-category-area .catergory-right-sec [class*=col] {
    border-right: 0px;
  }
  .shop-category-area .catergory-right-sec [class*=col]:nth-child(2n+2) {
    border-right: 0px;
  }
  .shop-category-area .catergory-right-sec [class*=col] {
    border-right: 1px solid #efefef;
  }
  .shop-category-area .catergory-right-sec [class*=col]:nth-child(2n+4) {
    border-right: 0px;
  }
  .ordersbox .shipping {
    padding-top: 10px;
  }
  .header-right-element .header-nav {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .search-element {
    margin-right: 0px;
  }
  .static-area {
    background: inherit;
    background-color: #f3f3f3;
  }
  .header-shape {
    right: -50px;
    background-color: #0aa8e3;
  }
  .header-shape .row {
    position: relative;
    left: -20px;
  }
  .mb-lm-30px {
    margin-bottom: 10px;
  }
  .single-static-meta {
    flex: 0 0 100%;
    text-align: center;
  }
  .smart-wearables.feature-slider-two .feature-slider-item {
    border-right: 0px;
  }
  .ads-slider .slick-prev {
    left: 35%;
  }
  .ads-slider .slick-next {
    right: 35%;
  }
  .mb-60px {
    margin-bottom: 20px;
  }
  .seller-slider {
    margin: 25px 0px;
  }
  .end-slider {
    margin-top: 30px;
  }
  .footermaplink {
    color: #007bff;
    font-size: 14px;
  }
  .footermaplink:hover {
    color: #000;
  }
  .footer-area {
    padding-bottom: 80px;
  }
  .mobile-bottom-menu {
    display: block;
    background-color: #0aa8e3;
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px 20px 5px 20px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #fff;
    border-bottom: 0px;
  }
  .mobile-bottom-menu ul {
    display: flex;
    justify-content: space-between;
  }
  .mobile-bottom-menu ul li a {
    color: #fff;
    text-align: center;
    font-size: 11px;
  }
  .mobile-bottom-menu ul li a i {
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
    color: #fff;
  }
  .login-bg img {
    height: 400px;
    -o-object-position: top center;
       object-position: top center;
  }
  .login-page .container-fluid {
    padding-right: 0px;
  }
  .login-content .nav {
    justify-content: inherit;
  }
  .login-content .nav .nav-item {
    width: 50%;
  }
  .login-content .nav .nav-item .nav-link {
    width: 100%;
  }
  .catergory-right-sec .col-lg-3 {
    width: 50%;
  }
  .shop-list-wrap .list-product .left-img {
    padding: 16px 10px;
  }
  .product-decs .arrival-price h4 {
    font-size: 14px !important;
  }
  .list-product .search-result-mrp h5 {
    font-size: 12px !important;
  }
  .list-product .search-result-mrp span {
    font-size: 12px !important;
  }
  .addproduct {
    height: 360px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .cartitemsbox .card-headder {
    display: none;
  }
  .itemdetailsrow {
    flex-wrap: wrap;
  }
  .itemdetailsrow .itemqty, .itemdetailsrow .itemsubtotal, .itemdetailsrow .itemsavings {
    flex: 0 0 24%;
    padding-top: 10px;
  }
  .itemdetailsrow .itemqty {
    flex: 0 0 23%;
  }
  .itemdetailsrow label {
    color: #3d3d3d;
    font-weight: 400;
    padding-bottom: 3px;
    font-size: 11px;
  }
  .itemdetailsrow .itemproduct {
    flex: 0 0 75%;
  }
  .checkoutaddform, .contactform {
    padding: 15px !important;
  }
  .delvryboxnew a.add-adress {
    text-align: left;
  }
  .delvryboxnew .btn-change-address {
    float: left;
  }
  #changeaddressModal .modal-dialog, #ratingsreviewsModal .modal-dialog {
    width: 80%;
    margin: 0px auto;
  }
  .innerproductitembox {
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .mobileproductitembox ul {
    overflow-y: hidden;
  }
  .contaddressbox {
    min-height: inherit;
  }
  .product-view .delivery-sec {
    display: flex;
  }
  .dashwidget {
    padding: 10px 20px;
  }
  .dashwidget .itemdetailsrow {
    padding-right: 0px;
  }
  .dashwidget .summaryorder .itemdetailsrow .itemproduct .itemtitle {
    flex: 0 0 70%;
  }
  .dashwidget .orddetailsbox .itemdetailsrow .itemproduct .itemtitle {
    font-size: 14px;
  }
  .dashwidget .producttotals h5 {
    padding-right: 0px;
  }
  .tracksteps .stepbox .icon {
    width: 60px;
    height: 60px;
  }
  .tracksteps .stepbox .icon object {
    width: 30px;
  }
  .tracksteps .stepbox:nth-child(2) object {
    width: 24px;
  }
  .tracksteps .stepbox:nth-child(4) object {
    width: 24px;
  }
  .tracksteps:before {
    top: 35%;
  }
  .tracksteps .icon-title {
    font-size: 14px;
  }
  .dashdelvbox {
    padding-bottom: 20px;
  }
  .dashdelvbox p {
    font-size: 12px;
  }
  .dashdelvbox h5 {
    font-size: 16px;
  }
  .lineprogress {
    left: -80px;
  }
}
@media only screen and (max-width: 650px) {
  .ads-slider .slick-next {
    right: 28%;
  }
  .ads-slider .slick-prev {
    left: 28%;
  }
}
@media only screen and (max-width: 632px) {
  .itemdetailsrow {
    flex-wrap: wrap;
  }
  .itemdetailsrow .itemprice, .itemdetailsrow .itemqty, .itemdetailsrow .itemsubtotal {
    flex: 0 0 50%;
    padding-top: 10px;
  }
  .itemdetailsrow .itemsavings {
    flex: 0 0 50%;
    padding-top: 10px;
  }
  .itemdetailsrow .itemqty {
    order: 1;
    flex: 0 0 30%;
  }
  .itemdetailsrow .itemremove {
    padding-top: 10px;
    order: 2;
    padding-right: 0px;
  }
  .itemdetailsrow .itemproduct {
    flex: 0 0 100%;
  }
  .itemdetailsrow .itemprice {
    order: 0;
  }
  .itemdetailsrow .itemsubtotal {
    order: 3;
  }
  .itemdetailsrow .itemsavings {
    order: 4;
  }
  .dashwidget .orddetailsbox .itemdetailsrow .itemproduct {
    flex: 0 0 100% !important;
    padding-right: 0px;
  }
  .dashwidget .itemdetailsrow .itemprice {
    flex: 0 0 100% !important;
    padding-top: 0px;
  }
  .dashwidget .orddetailsbox {
    padding-left: 10px;
    padding-right: 10px;
  }
  .producttotals h4 {
    font-size: 18px;
  }
  .producttotals h5 {
    font-size: 20px;
  }
  .dashdelvbox {
    padding: 15px 25px;
  }
  .dashdelvbox h4 {
    font-size: 18px;
  }
  .dashdelvbox h5 {
    font-size: 16px;
  }
  .dashdelvbox p {
    font-size: 14px;
  }
  .itemdetailsrow .itemremove {
    flex: 0 0 20%;
    text-align: right;
  }
}
@media only screen and (max-width: 600px) {
  .rating-section .rating-summary {
    flex-wrap: wrap;
  }
  .rating-section .rating-summary .score, .rating-section .rating-summary .productviewreviewouter {
    width: 100%;
  }
  .rating-section .rating-summary .productviewreviewouter {
    margin-top: 20px;
    padding-left: 0px;
  }
  .rating-section .rating-summary .productviewreviewouter .productviewreviewbar .progress {
    width: 100%;
  }
  .rating-section .rating-summary .productviewreviewouter .productviewreviewbar .prgstatus {
    flex: 0 0 50px;
  }
}
@media only screen and (max-width: 576px) {
  .slider-banner img {
    border-radius: 10px;
    height: 220px;
  }
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-slider .slick-prev {
    left: 27%;
  }
  .main-slider .slick-next {
    right: 27%;
  }
  .header-shape {
    display: none;
  }
  .footer-top .container, .footer-bottom .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .seller-slider .seller-slider-image img {
    width: 100%;
    height: 150px !important;
    margin-bottom: 20px;
    -o-object-position: top center;
       object-position: top center;
    position: relative;
  }
  .seller-slider .seller-slider-image img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 99;
  }
  .seller-slider .seller-slider-image .smart-wearables-cont {
    position: absolute;
    right: 60px;
    top: 20px;
  }
  .seller-slider .seller-slider-image .smart-wearables-cont1 {
    top: 20%;
    text-align: center;
  }
  .offers-slider .slick-prev {
    left: 20%;
    bottom: -38px;
  }
  .offers-slider .slick-next {
    right: 20%;
    bottom: -38px;
  }
  .seller-slider .seller-slider-image .smart-wearables-cont2 {
    bottom: 31%;
  }
  .search-element input {
    max-width: 510px;
    width: 100%;
    padding-left: 20px;
  }
  .search-element .search-category {
    display: none;
  }
  .seller-slider .seller-slider-image .smart-wearables-cont3 {
    bottom: 30%;
  }
  .social-info {
    padding-bottom: 30px;
  }
  .slider-height-1 {
    margin-top: 0px;
  }
  .logo a img {
    height: 50px;
  }
  .login-content .otp-content h4 {
    font-size: 18px;
  }
  .shop-category-area h6 {
    font-size: 12px;
  }
  .shop-category-area .searchresult .shop-list-wrap .col-lg-3 {
    width: 100%;
    margin: 0px auto;
  }
  .shop-category-area .searchresult .shop-list-wrap .col-lg-3 .left-img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .shop-category-area .searchresult .shop-list-wrap .col-lg-9 {
    width: 100%;
    padding: 0px 0px;
  }
  .list-product .product-decs a {
    font-size: 14px;
  }
  .breadcrumb-area {
    padding: 10px 0;
  }
  .list-product .product-decs .rating-product a {
    font-size: 10px;
  }
  .shop-list-wrap .list-product .left-img {
    margin: 10px 0px;
  }
  .shop-list-wrap .list-product .product-decs {
    padding-top: 0px;
  }
  .shop-list-wrap .list-product {
    padding: 0 0 0px;
  }
  .productslider-nav.gallery-thumbs {
    display: none;
  }
  .prodgalleryviewouter .gallery-main-image {
    width: 100%;
    margin-left: 0px;
  }
  .prodgalleryviewouter .gallery-main-image {
    height: 330px;
  }
  .prodgalleryviewouter .gallery-main-image img {
    height: 200px;
  }
  .prodgalleryviewouter .gallery-main-image iframe {
    height: 300px;
  }
  .relatedproducts-slider .relmodelbox {
    padding: 8px 10px;
  }
  .relatedproducts-slider .relmodelbox .modelname, .relatedproducts-slider .relmodelbox .modelprice {
    font-size: 10px;
    white-space: inherit;
  }
  .product-view .product-decs .rating-product {
    flex-wrap: wrap;
  }
  .product-details-area {
    margin: 20px 0px 30px 0px;
  }
  .product-decs .form-item {
    margin-bottom: 10px;
  }
  .product-view .product-view-buy-now {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .product-view .product-view-buy-now .buy-now {
    width: 100%;
    margin-bottom: 10px;
  }
  .product-view .specifications th {
    width: inherit;
  }
  .summaryorder .itemdetailsrow .itemproduct .itemtitle {
    align-content: start;
    flex: 0 0 80%;
  }
  .ordersbox .shipping {
    padding-bottom: 10px;
  }
  .ordersbox a.btn-view {
    font-size: 14px;
    padding: 8px 15px;
  }
  .ordersbox .shipping p {
    padding-bottom: 0px;
  }
  .tracksteps {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .tracksteps:before {
    width: 3px;
    height: 70%;
    top: 23px;
    left: 30px;
  }
  .tracksteps .stepbox {
    padding-bottom: 30px;
    display: flex;
  }
  .tracksteps .stepbox .icon {
    margin: inherit;
  }
  .tracksteps .icon-title {
    align-self: center;
    padding-left: 20px;
  }
  .trackshipping p {
    font-size: 12px;
    padding-left: 10px;
  }
  .trackshipping h5 {
    font-size: 14px;
    padding-left: 10px;
  }
  .trackshipping h4 {
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .dashwidget h2 {
    font-size: 16px;
  }
  .lineprogress {
    display: none;
  }
  .couponrewardbox {
    margin: 20px 0px;
    padding: 10px 20px;
    height: 260px;
  }
  .couponrewardbox.disable .claimcouppon {
    bottom: -53px;
  }
  .couponrewardbox:before, .couponrewardbox:after {
    display: none;
  }
  .rwdbox .dashwidget.p-5 {
    padding: 20px !important;
  }
  .delvryboxnew label p, .makepayment label p {
    font-size: 14px;
  }
  .arrival-brand, .arrival-quantity {
    width: 70px;
  }
  .arrival-brand small, .arrival-quantity small {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 11px;
    display: block;
  }
  .arrival-text a {
    font-size: 12px;
  }
  .mobcartbtn {
    width: 100%;
  }
  .mobcartbtn.prodduct-add-cart {
    padding: 10px 0px;
    text-align: center;
    width: 96%;
  }
  .product-view a.product-add-cart {
    padding: 10px 0px;
    text-align: center;
    width: 96%;
  }
  .ProductPopup {
    bottom: 80px;
  }
  .product-view .product-decs .inner-link {
    font-size: 14px;
    line-height: 22px;
  }
  .dashboard-forms .form-group {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .slider-banner img {
    height: 180px;
  }
  .add-cart-btn, .buy-now-btn {
    padding: 6px 3px;
    font-size: 9px;
    line-height: 20px;
  }
  .ProductPopup {
    width: 90%;
    max-width: 380px;
  }
  .ProductPopup img {
    height: 120px;
  }
  .home-newsletter {
    padding: 20px 0;
  }
  .arrival-ratings1 i {
    font-size: 11px;
  }
  .rating-members small {
    font-size: 11px;
    text-align: right;
  }
  .arrival-price h4 {
    font-size: 13px;
  }
  .arrival-price h5 {
    font-size: 13px;
  }
  .home-newsletter .single .btn {
    width: 80px;
  }
  .ads-slider .slick-prev {
    left: 30%;
  }
  .ads-slider .slick-next {
    right: 30%;
  }
  .catergory-sec img {
    height: 140px;
  }
  .cstcheck {
    height: 50px;
  }
  .feature-slider-two .feature-slider-item {
    border-right: 0 !important;
  }
  .product-decs .d-flex .arrival-price {
    flex: 0 0 100%;
    padding-bottom: 10px;
  }
  .list-product .search-result-mrp {
    margin-left: 0px;
    margin-right: 20px;
    flex: 0 0 30%;
  }
  .itemdetailsrow .itemproduct .itemimg {
    width: 60px;
    height: 60px;
    border: 3px solid #F5F5F5;
    padding: 5px;
  }
  .itemdetailsrow .itemproduct .itemimg img {
    width: 42px;
    height: 42px;
  }
  .itemdetailsrow .itemproduct .itemtitle {
    font-size: 12px;
  }
  .login-bg img {
    height: 300px;
    -o-object-position: top center;
       object-position: top center;
  }
  .ordersbox a.btn-view {
    font-size: 14px;
  }
  .couponrewardbox input[type=text] {
    width: 90%;
    font-size: 14px;
  }
  .ads-slider .slick-next {
    right: 20%;
  }
  .ads-slider .slick-prev {
    left: 20%;
  }
  .product-view a.product-add-cart {
    padding: 10px 0px;
  }
  .itemdetailsrow .itemprice {
    flex: 0 0 40%;
  }
  .newsearchresult .product-decs .d-flex {
    flex-wrap: wrap;
  }
  .product-view a.product-add-cart {
    width: 92%;
  }
  .dashboard-forms .btn-submit, .dashboard-forms .btn-cancel {
    padding: 0px 25px;
    width: 50%;
  }
  .addwishicon {
    top: 5px;
    right: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .couponrewardbox {
    height: 300px;
  }
}
@media only screen and (max-width: 360px) {
  .slider-banner img {
    height: 150px;
  }
  .feature-slider-two .feature-slider-item {
    border-right: 0px !important;
  }
  .main-slider .slick-prev {
    left: 25%;
  }
  .main-slider .slick-next {
    right: 25%;
  }
  .ads-slider .slick-next {
    right: 18%;
  }
  .ads-slider .slick-prev {
    left: 18%;
  }
}/*# sourceMappingURL=responsive.css.map */